<ul class="breadcrumb breadcrumb-page">
        <div class="breadcrumb-label text-light-gray">You are here: </div>
        <li><a href="#">Home</a></li>
        <li class="active"><a href="#dash">Dashboard</a></li>
</ul>
<h3>Dash content</h3>
<div class="container">
        <div class="row">
            <h1>People</h1>
            <div crud-grid table='person' columns='
                 [{"name":"Id","class":"col-md-1","autoincrement": "true"},
                 {"name":"Name", "class": "col-md-2"},
                 {
                    "name": "PlaceId",
                    "class": "col-md-1",
                    "header": "Place",
                    "lookup":
                    {
                        "table": "Place",
                        "key": "Id",
                        "value":"Name",
                        "orderBy": {"field": "Name", "asc": "true"}
                    }
                 }]' class="col-md-6"></div>

        </div>
        <div class="row">
            <h1>Places</h1>
            <div crud-grid table='place' columns='
                 [{"name":"Id", "class":"col-md-1", "autoincrement": "true"}, 
                 {"name":"Name", "class": "col-md-2"}]' class="col-md-6"></div>
        </div>
    </div>
<!--http://angularjs-webapi-crud-grid.azurewebsites.net/-->